* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 270px;
  background: linear-gradient(to top right, #6482ff, #000096);
  margin: 0 auto;
  color: white;
  padding: 20px;
}
.container .section-1, .container .section-2 {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  height: 50%;
}
.container .section-3, .container .section-4 {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  height: 50%;
  flex-direction: column;
}
.container .section-1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container .section-1 .date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
}
.container .section-1 .time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 24px;
}
.container .section-1 .input {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 75px;
  left: 75px;
}
.container .section-1 .input .input-field {
  color: #000096;
  width: 100%;
  height: 27px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  line-height: 27px;
  margin-top: 5px;
}
.container .section-1 .input .input-field:focus {
  outline: none;
}
.container .section-1 .input .submit-btn {
  background: linear-gradient(to top right, #6482ff, #000096);
  color: white;
  width: 21px;
  height: 21px;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
  border: 0px solid transparent;
  border-radius: 3px;
  position: absolute;
  right: 3px;
  top: 27px;
  padding: 0;
}
.container .section-1 .city {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
}
.container .section-2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .section-2 img {
  display: block;
  height: 75px;
  width: 75px;
}
.container .section-3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container .section-3 .humidity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
}
.container .section-3 .pressure {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
}
.container .section-3 .wind {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 5px 0px;
}
.container .section-4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .section-4 .temp {
  display: flex;
  margin: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}
.container .section-4 .temp :nth-child(2) {
  display: flex;
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-radius: 50%;
}
.container .section-4 .feels-like-temp {
  display: flex;
  margin: 5px 0px 5px 0px;
}
.container .section-4 .feels-like-temp :nth-child(2) {
  display: flex;
  width: 5px;
  height: 5px;
  border: 1px solid white;
  border-radius: 50%;
}
.container .section-4 .cloudness {
  display: flex;
  margin: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
